.zoo-footer {
    background-image: url('../../img/bg-leaves-v2.svg');
    background-position: -82px 323px;
    background-repeat: no-repeat;
    background-size: 110vw auto;

    @media screen and (max-width: 768px) {
        background-image: url("../../img/mobile-leaf-cropped.png");
        background-position: bottom center;
        background-size: contain;
    }
}