.initiative-form {

    & > span {
        width: 100%;
    }
    form {
        @apply flex flex-col max-w-[560px];
    }

    .hs-form-private {
        @apply flex mb-[22px];

        @media (max-width: 767px) {
            @apply flex-col gap-6;
          }

        label {
            span {
                @apply mb-2 block mt-4;
            }
        }

        .hs-error-msg {
            font-size: 12px !important;
        }

        .hs-form-field {
            width: 100% !important;
            float: none;

            input {
                color: #2F251D;
                width: 100% !important;
                @apply border border-black py-2 px-4 font-bold rounded-sm;

                &::placeholder {
                    opacity: .6;
                    color: inherit;
                }

            }
        }
    }

    [type="submit"] {
        @apply bg-orange-500 text-sm text-white font-bold inline-flex px-6 py-3 rounded-full mt-[10px];
    }
}